################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/bin
/Components/LiveSplit.Yono.exe
/.vs
/obj
/LiveSplit.Yono.csproj.user
