################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/bin
/Components/LiveSplit.Yono.exe
/obj
/LiveSplit.Yono.csproj.user
